[project]
	description = Web Experiment 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raunak (kraunak)
[access "refs/for/refs/*"]
	read = group user/Raunak (kraunak)
	push = group user/Raunak (kraunak)
	label-Code-Review = -2..+2 group user/Raunak (kraunak)
	label-Verified = -1..+1 group user/Raunak (kraunak)
	rebase = group user/Raunak (kraunak)
	removeReviewer = group user/Raunak (kraunak)
	submit = group user/Raunak (kraunak)
[access "refs/heads/*"]
	read = group user/Raunak (kraunak)
	create = group user/Raunak (kraunak)
	push = +force group user/Raunak (kraunak)
	pushMerge = group user/Raunak (kraunak)
[access "refs/tags/*"]
	push = +force group user/Raunak (kraunak)
	pushTag = group user/Raunak (kraunak)
	pushSignedTag = group user/Raunak (kraunak)
